*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Earwig Factory';
  src: local('earwig factory rg'),
       url('../fonts/earwig factory rg.ttf') format("truetype");
}
@font-face {
  font-family: 'BLACK AREA'
  src: local('BLACK AREA'),
       url('../static/fonts/BLACK AREA.ttf') format("truetype");
}

@font-face{
  font-family: 'Catamaran';
  src: local('Catamaran-Regular'),
       url('../static/fonts/Catamaran-Regular.ttf') format("truetype");
}

:root{
  --stylishText: 'Earwig Factory', monospace;
  --normalText: 'Catamaran', sans-serif;
  --primaryDark: #1A1D1A;
  --primaryLight: #ddb8ba;
  --mainTransition:all 0.3s ease-in-out;
  --letterSpacing: 0.5rem;
}

.background{
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/banner2.jpg') center/cover no-repeat fixed;
  position: relative;
  display: grid;
  grid-template-rows: 140px auto;
}

.UpperText{
  font-family: var(--stylishText);
  color: white;
  font-size:50px;
  text-shadow:0 1px 0 black;
  text-align:center;
  line-height: 140px;
}

.Form {
 	background:#111;
  width:800px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: 60px 750px;
}

.FormBody{
  display: grid;
  grid-template-rows: 650px 100px;
  padding:20px;
  border-top:1px solid #19191a;
  width: 800px;
}

.MainForm{
  display: grid;
  grid-template-columns: 380px 20px 380px 20px;
}

.SubmissionButton{
  display: grid;
  grid-template-columns: 350px 100px 350px;
}

form h1 {
  font-family: var(--normalText);
  color: var(--primaryLight);
  font-size:18px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

label {
 	color:#666;
  display:block;
  padding-bottom:9px;
}

input[type=text],
input[type=password],
input[type=file] {
 	width:93%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
  color: white;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=file]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password]
label:hover ~ input[type=file] {
 	background:#27292c;
}

.inset {
 	padding:20px;
  border-top:1px solid #19191a;
}

.button{
  display: block;
  background: var(--primaryLight);
  text-transform: uppercase;
  padding: 0.6rem 1.0rem;
  color: var(--primaryDark);
  font-weight: bold;
  outline: 0.2rem solid var(--primaryLight);
  outline-offset: 4px;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: var(--mainTransition);
}

.button:hover{
  color: white;
  opacity: 0.7;
}

.SingleColumnForm{
  background:#111;
  width:400px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: 60px 400px;
}

.FormBodySingle{
  display: grid;
  grid-template-rows: 310px 60px;
  padding:20px;
  border-top:1px solid #19191a;
  width: 400px;
}

.MainFormSingle{
  display: grid;
  grid-template-columns: 380px 20px;
}

.SubmissionButtonSingle{
  display: grid;
  grid-template-columns: 150px 100px 150px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 350px;
  height: 2em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  margin-bottom: 15px;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.datepicker{
  font-family: var(--normalText);
  color: white;
  border-radius: .25em;
  background: #2c3e50;
  padding: 3px 5px;
  line-height: 2.2;
  width: 350px;
  height: 2.2rem;
}

.ProtectionForm{
  background:#111;
  width:400px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
  display: grid;
  grid-template-rows: 60px 520px;
}

.PrtBody{
  display: grid;
  grid-template-rows: 420px 60px;
  padding:20px;
  border-top:1px solid #19191a;
  width: 400px;
}
