<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Cracked Game</title>
    {% block head %}
    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/AddStuffs.css' %}">
    {% endblock head %}
  </head>
  <body>

    <div class="background">
      <div class="UpperText">Add Cracked Game</div>
      <div>
        <form method="POST" autocomplete="off" class="SingleColumnForm">
          {% csrf_token %}
          <div class="FormHeader"><h1>Game Informations</h1></div>

          <div class="FormBodySingle">
            <div class="MainFormSingle">
              <div>
                <p>
                  <label for="name">NAME</label>
                  <div class="select">
                    <select name="name" id="name">
                      <option selected disabled>Choose Game</option>
                      {% for game in games %}
                      <option value="{{game}}">{{game}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </p>

                <p>
                  <label for="Cracker">Crack Group</label>
                  <div class="select">
                    <select name="Cracker" id="Cracker">
                      <option selected disabled>Choose Crack Group</option>
                      {% for cracker in crackers %}
                      <option value="{{cracker}}">{{cracker}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </p>

                <p>
                  <label for="Date">Crack Date</label>
                  <div class="select">
                    <input type="date" name="Date" id="Date" class="datepicker">
                  </div>
                </p>
              </div>
              <div></div>
            </div>

            <div class="SubmissionButtonSingle">
              <div></div>
              <div><input type="submit" name="go" id="go" value="Submit" class ="button"></div>
              <div></div>
            </div>

          </div>
        </form>
      </div>
      <div></div>

    </div>

  </body>
</html>
