<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Group</title>
    {% block head %}
    <!-- CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/AddStuffs.css' %}">
    {% endblock head %}
  </head>
  <body>

    <div class="background">
      <div class="UpperText">Add Group</div>
      <div>
        <form method="POST" autocomplete="off" class="SingleColumnForm" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="FormHeader"><h1>Group Informations</h1></div>

          <div class="FormBodySingle">
            <div class="MainFormSingle">
              <div>
                <p>
                  <label for="name">NAME</label>
                  <input type="text" name="name" id="name">
                </p>
                <p>
                  <label for="url">URL</label>
                  <input type="text" name="url" id="url">
                </p>
                <p>
                  <label for="logo">LOGO</label>
                  <input type="file" name="logo" id="logo">
                  <!--<input type="text" name="wide_image" id="wide_image">-->
                </p>
                <p>
                  <label for="description">DESCRIPTION</label>
                  <input type="text" name="description" id="description">
                </p>
              </div>
              <div></div>
            </div>

            <div class="SubmissionButtonSingle">
              <div></div>
              <div><input type="submit" name="go" id="go" value="Submit" class ="button"></div>
              <div></div>
            </div>

          </div>
        </form>
      </div>
      <div></div>

    </div>

  </body>
</html>
