<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>{{Group}}</title>
  {% block head %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/GroupList.css' %}">
  {% endblock head %}
</head>
  <body>
    <div class="background">
      <!-- NavBar -->
      <div class="NavigationBar">
        <div class="NavigationCells HomeCell">
          <a href="{% url 'Users:UsersHome' username %}" style="text-decoration: none; color: white;">Home</a>
        </div>
        <div class="NavigationCells GamesCell">
          <a href="{% url 'Games:AllGames' username %}" style="text-decoration: none; color: white;">Games</a>
        </div>
        <div class="NavigationCells StudiosCell">
          <a href="{% url 'Studio:AllStudios' username %}" style="text-decoration: none; color: white;">Studios</a>
        </div>
        <div class="NavigationCells CrackerCell">
          <a href="{% url 'CrackGroups:AllCrackGroups' username %}" style="text-decoration: none; color: white;">Groups</a>
        </div>
        <div class="NavigationCells ProtectionCell">
          <a href="{% url 'Protection:AllProtections' username %}" style="text-decoration: none; color: white;">Protections</a>
        </div>
        <div class="NavigationCells MarketplaceCell">
          <a href="{% url 'Marketplace:AllMarketplaces' username %}" style="text-decoration: none; color: white;">Marketplaces</a>
        </div>
      </div>


      <div class="MainContainer">
        <div></div>

        <!-- Group -->
        <div class="GroupInfoContainer">
          {% for CG in CGs %}
          <!-- Image -->
          <div class="GroupImage">
            {% load static %}
            <img src="{% static CG.LOGO %}" width="1150px" height="660px">
          </div>

          <!-- Description -->
          <div class="DescriptionBox">
            <div class="RowTitle" style="font-size: 30px;">ABOUT GROUP</div>
              {{CG.DESCRIPTION}}
          </div>

          <div class="Divider-Bottom"></div>


          <!-- Follow Button -->
          <div class="ClickableBox">
            <div>
              <div class="RowTitle" style="font-size: 30px; text-align: left; line-height: 60px;">Followers: {{Followers}}</div>
            </div>
            {% if AlreadyFollowsGroup == 0 %}
              <form method="post">
                {% csrf_token %}
                <input type="submit" name="Follow" id="Follow" value="Follow" class="Clickable">
              </form>
            {% endif %}
          </div>
          <div>
            <div class="Divider-Bottom" style="border: none;"></div>
            <div class="RowTitle" style="font-size: 30px; text-align: left; line-height: 60px;">Games Cracked:</div>
            <div class="Divider-Bottom" style="border: none;"></div>
          </div>

          <!-- All Games Cracked -->
          <div class="AllCrackedGame">
            {% for Cracked in AllCrackedGames %}
              <div class="GameBox">
                <div>
                  <a href="{% url 'Games:GamesPage' Cracked.ID username %}">
                    {% load static %}
                    <img src="{% static Cracked.Image %}" class="GameImage">
                  </a>
                </div>
                <div class="TitleBox RowTitle">
                  <a href="{% url 'Games:GamesPage' Cracked.ID username %}" style="text-decoration: none; color: white;">{{Cracked.Name}}</a>
                </div>
              </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>


        <div></div>
      </div>

    </div>
  </body>
</html>
