<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ranks</title>
    {% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/UserHomeView.css' %}">
    {% endblock head %}
  </head>
  <body>
    <div class="background">
      <!-- Header -->
      <div class="header">
        <div class="HeaderText">
          Take Your Time
        </div>
        <div class="UsernamePanel">
          <div class="Username">
            Current User: {{username}}
          </div>
          <div class="Logout">
            <a href="{% url 'index' %}" style="text-decoration: none; color: white;">Logout</a>
          </div>
        </div>
      </div>

      <!-- Navigation Bar -->
      <div class="NavigationBar">
        <div class="NavigationCells HomeCell">
          <a href="{% url 'Users:UsersHome' username %}" style="text-decoration: none; color: white;">Home</a>
        </div>
        <div class="NavigationCells GamesCell">
          <a href="{% url 'Games:AllGames' username %}" style="text-decoration: none; color: white;">Games</a>
        </div>
        <div class="NavigationCells StudiosCell">
          <a href="{% url 'Studio:AllStudios' username %}" style="text-decoration: none; color: white;">Studios</a>
        </div>
        <div class="NavigationCells CrackerCell">
          <a href="{% url 'CrackGroups:AllCrackGroups' username %}" style="text-decoration: none; color: white;">Groups</a>
        </div>
        <div class="NavigationCells ProtectionCell">
          <a href="{% url 'Protection:AllProtections' username %}" style="text-decoration: none; color: white;">Protections</a>
        </div>
        <div class="NavigationCells MarketplaceCell">
          <a href="{% url 'Marketplace:AllMarketplaces' username %}" style="text-decoration: none; color: white;">Marketplaces</a>
        </div>
      </div>

      <div class="RankBody">
        <div></div>
        <div>
          <table class="LargeTable">
            <tr>
              <th width="100px">Level</th>
              <th width="300px">Rank</th>
              <th width="300px">Follow Limit</th>
              <th width="300px">Need To Play</th>
            </tr>
            {% for rank in ranks %}
            <tr>
              <td width="100px">{{rank.rank}}</td>
              <td width="300px">{{rank.level}}</td>
              <td width="300px">{{rank.followable}}</td>
              <td width="300px">{{rank.playtoget}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div></div>
      </div>
    </div>
  </body>
</html>
