*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'BLACK AREA';
  src: local('BLACK AREA'),
       url('../fonts/BLACK AREA.ttf') format("truetype");
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: local('ProximaNova-Regular'),
       url('../fonts/ProximaNova-Regular.otf') format("truetype");
}

.background{
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/BG1.png') center/cover no-repeat fixed;
  position: relative;
}

.NavigationBar{
  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px 320px;
  font-size: 1.5rem;
  font-family: 'BLACK AREA';
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.NavigationCells{
  margin-top: 0.2rem;
  border: 2px solid black;
  outline: 4px;
}


.HomeCell{
  background-color: red;
}

.GamesCell{
  background-color: blue;
}

.StudiosCell{
  background-color: green;
}

.CrackerCell{
  background-color: DimGrey;
}

.ProtectionCell{
  background-color: BlueViolet;
}


.MarketplaceCell{
  background-color: DarkCyan;
}

.NavigationCells:hover{
  cursor: pointer;
  opacity: 0.7;
}

.MainContainer{
  display: grid;
  grid-template-columns: auto 1150px auto;
}

.ListContainer{
  display: grid;
  grid-template-rows: 30px 59px 11px 20px 16px auto;
  margin-top: 30px;
}

body{
  font-family: 'Proxima Nova Rg';
  font-size: 14px;
  font-weight: 500;
  color: #e8e5e0;
  background-color: #27282e;
  margin: 0;
  line-height: 1.42857143;
}

.PageInfo{
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  color: #e8e5e0;
  margin-bottom: 10px;
  vertical-align: text-top;
  line-height: 1.42857143;
}

.Bar-Games{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #161618;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  margin: 10px 0 15px;
}

.Games-Nav{
  display: grid;
  grid-template-columns: 270px 270px 270px 270px 70px;
  grid-column-gap: 1%
}

.Search-Bar{
  background-color: #27282f;
  border: none;
  display: block;
  height: 34px;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.Select-Box, .Clickable{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #e8e5e0;
  background-color: #27282f;
  background-image: none;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.Clickable:hover{
  opacity: 0.7;
  cursor: pointer;
}

.Divider{
  margin-top: 10px;
  border-bottom: 1px solid #494a4f;
}

.Divider-Bottom{
  margin-bottom: 15px;
  border-top: 1px solid #494a4f
}

.Index-Bar{
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.GameBar{
  width: 307px;
}

.ReleasedDateBar{
  width: 100px;
}

.CrackedDateBar{
  width: 100px;
}

.ProtectionBar{
  width: 72px;
}

.StudioBar{
  width: 105px;
}

.GroupBar{
  width: 100px;
}

.TotalCrackBar{
  width: 69px;
}

.BestPriceBar{
  width: 90px;
}

.RatingBar{
  width: 85px;
}

.FollowerBar{
  width: 78px;
}

.Game-Row{
  background-color: #161618;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  height: 60px;
  margin-bottom: 15px;
  border-radius: 2px;
  overflow: hidden;
}

.Game-Image{
  cursor: pointer;
  width: 107px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.VerticalDivider{
  width: 4px;
  height: 60px;
  display: inline-block;
  background-color: BlueViolet;
}

.GameInfo{
  padding-left: 13px;
  width: 196px;
  padding-top: 12px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

.GameName{
  display: block;
}

.CrackDays{
  display: block;
  font-size: 12px;
}

.Unreleased{
  color: Purple;
}

.Uncracked{
  color: DarkCyan;
}

.Cracked{
  color: Green;
}

.NoInfo{
  color: Red;
}

.DateInfo{
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 21px;
}

.RegularInfo{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding-top: 21px;
}
