*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Earwig Factory';
  src: local('earwig factory rg'),
       url('../fonts/earwig factory rg.ttf') format("truetype");
}
@font-face {
  font-family: 'BLACK AREA';
  src: local('BLACK AREA'),
       url('../fonts/BLACK AREA.ttf') format("truetype");
}

:root{
  --stylishText: 'Earwig Factory', monospace;
  --primaryDark: #1A1D1A;
  --primaryLight: #ddb8ba;
  --mainTransition:all 0.3s ease-in-out;
  --letterSpacing: 0.5rem;
}

.background{
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../images/banner2.jpg') center/cover no-repeat fixed;
  position: relative;
}

.header{
  display: grid;
  grid-template-columns: 1560px 360px;
  min-height: 10vh;
  border-bottom-style: solid;
  border-bottom-color: coral;
}

.HeaderText{
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: var(--stylishText);
  color: white;
  text-align: center;
  border-bottom: 1px;
  border-right-style: solid;
  border-right-color: coral;
}

.UsernamePanel{
  display: grid;
  grid-template-rows: 2.5rem 2.5rem;
  font-size: 2rem;
  font-family: 'BLACK AREA';
  color: white;
  text-align: center;
}

.Username{
  font-weight: bold;
  margin-bottom: 1rem;
}

.Logout{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.Logout:hover{
  cursor: pointer;
  opacity: 0.7;
}

.NavigationBar{
  display: grid;
  grid-template-columns: 320px 320px 320px 320px 320px 320px;
  font-size: 1.5rem;
  font-family: 'BLACK AREA';
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.NavigationCells{
  margin-top: 0.2rem;
  border: 2px solid black;
  outline: 4px;
}


.HomeCell{
  background-color: red;
}

.GamesCell{
  background-color: blue;
}

.StudiosCell{
  background-color: green;
}

.CrackerCell{
  background-color: DimGrey;
}

.ProtectionCell{
  background-color: BlueViolet;
}


.MarketplaceCell{
  background-color: DarkCyan;
}

.NavigationCells:hover{
  cursor: pointer;
  opacity: 0.7;
}

.MainBody{
  display: grid;
  grid-template-columns: 640px 640px 640px;
  color: white;
}
table{
  font-family: 'BLACK AREA';
  border: 1px solid white;
  width: 620px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  display: inline-block;
  overflow: auto;
  color: white;
  border-collapse: collapse;
}

table th{
  text-align: center;
  height: 100px;
  background-color: Black;
  border: 1px;
  font-weight: bold;
  font-size: 3rem;
}

table td{
  text-align: center;
  height: 80px;
  background-color: black;
  border: 1px;
  font-size: 1.5rem;
  border-right: none;
}

table tr{
  border-bottom: 1px solid white;
}

.SmallTable{
  font-family: 'BLACK AREA';
  border: 1px solid white;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  display: inline-block;
  overflow: auto;
  color: white;
  border-collapse: collapse;
}

.RankBody{
  display: grid;
  grid-template-columns:auto 1000px auto;
  color: white;
}

.LargeTable{
  font-family: 'BLACK AREA';
  border: 1px solid white;
  width: 1000px;
  margin-top: 30px;
  display: inline-block;
  overflow: auto;
  color: white;
  border-collapse: collapse;
}
